
@{
    ViewBag.Title = "PointST";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}
<div id="Thong_tin_HS">
    <div _ngcontent-c9="" class="row">
        <div _ngcontent-c9="" class="col-md-6">
            Mã số học sinh:
            <span _ngcontent-c9="" class="font-weight-bold">HS161126</span>
        </div>
        <div _ngcontent-c9="" class="col-md-6">
            Họ tên:
            <span _ngcontent-c9="" class="font-weight-bold">
                Nguyễn Thị Phương Diễm
            </span>
        </div>
    </div>
    <div _ngcontent-c9="" class="row mt-2">
        <div _ngcontent-c9="" class="col-md-6">
            Lớp:
            <span _ngcontent-c9="" class="font-weight-bold">12A2</span>
        </div>
        <div _ngcontent-c9="" class="col-md-6">
            Ngày sinh:
            <span _ngcontent-c9="">20-03-2001</span>
        </div>
    </div>
    <div _ngcontent-c9="" class="row  mt-2">
        <div _ngcontent-c9="" class="col-md-6">
            Niên khóa:
            <span _ngcontent-c9="">2016 - 2019</span>
        </div>
    </div>
</div><hr />
<!--form search-->
<form class="form-inline md-form mr-auto mb-4">
    <label class="btn aqua-gradient btn-rounded btn-sm my-0">Tìm Kiếm Theo Tên Bài Kiểm Tra</label>
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn aqua-gradient btn-rounded btn-sm mr-sm-2" type="submit">Search</button>
</form>
<!--table poin student-->
<div style="margin-top:15px">
    <table id="selectedColumn" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">
                    Tên Môn Học
                </th>
                <th class="th-sm">
                    Toán học
                </th>
                <th class="th-sm">
                    Vật Lý
                </th>
                <th class="th-sm">
                    Hóa học
                </th>
                <th class="th-sm">
                    Sinh học
                </th>
                <th class="th-sm">
                    Anh văn
                </th>
                <th class="th-sm">
                    Ngữ văn
                </th>
                <th class="th-sm">
                    Lịch sử
                </th>
                <th class="th-sm">
                    Địa lí
                </th>
                <th class="th-sm">
                    Công nghệ
                </th>
                <th class="th-sm">
                    Công dân
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int diem;
                Random rd = new Random();
            }
            @for (int i = 0; i < 10; i++)
            {
                <tr>
                    <td>Kiểm tra 15 phút lần @(i + 1)</td>

                    @for (int j = 0; j < 10; j++)
                    {
                        diem = rd.Next(5, 10);

                        <td>@diem</td>
                    }
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>
                    Tên Môn Học
                </th>
                <th>
                    Toán học
                </th>
                <th>
                    Vật Lý
                </th>
                <th>
                    Hóa học
                </th>
                <th>
                    Sinh học
                </th>
                <th>
                    Anh văn
                </th>
                <th>
                    Ngữ văn
                </th>
                <th>
                    Lịch sử
                </th>
                <th>
                    Địa lí
                </th>
                <th>
                    Công nghệ
                </th>
                <th>
                    Công dân
                </th>
            </tr>
        </tfoot>
    </table>
</div>
