
@{
    ViewBag.Title = "GopY";
    Layout = "~/Views/StudentLayout/StudentLayout.cshtml";
}

<link href="~/Content/TeacherCss/UnderSpeed---Floating-Label.css" rel="stylesheet" />
<div class="container">
    <div class="sarici">
        <label id="aciklama">Nhập câu hỏi và câu trả lời :</label>
        <textarea style="width:100%" id="giris" placeholder="Câu hỏi và câu trả lời"></textarea>
        <button style=" margin-top:5px">Xác nhận</button>
    </div>
</div>