
@{
    ViewBag.Title = "DanhSachHocSinh";
    Layout = "~/Views/TeacherLayout/TeacherLayout.cshtml";
}

<h2>Danh Sách Học Sinh:</h2>
<div _ngcontent-c9="" class="col-md-12" >
    <div _ngcontent-c9="" class="row">
        <span style="font-size:24px">Lớp 10A01:</span>
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Tên Học Sinh</th>
                    <th>Mã Học Sinh</th>
                    <th>Năm sinh</th>
                    <th>Giới tính</th>
                    <th>Số Điện Thoại</th>
                    <th>Email</th>
                    <th>Niên Khóa</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 13; i++)
                {
                    <tr>
                        <td>Nguyễn Thị Lộc</td>
                        <td>HS190001</td>
                        <td>23/05/1998</td>
                        <td>Nữ</td>
                        <td>0392202424</td>
                        <td>locnguyen230598@gmail.com</td>
                        <td>2016-2020</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
