
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form>
            <div>
                <div class="text-left d-lg-flex align-items-lg-start"><label class="margin_left">Câu1&nbsp;</label><input class="form-control" type="text"></div>
                <div class="text-left d-lg-flex align-items-lg-start"><input type="radio" class="margin_left"><label>A)</label><input class="form-control" type="text"></div>
                <div class="text-left d-lg-flex align-items-lg-start"><input type="radio" class="margin_left"><label>B)</label><input class="form-control" type="text"></div>
                <div class="text-left d-lg-flex align-items-lg-start"><input type="radio" class="margin_left"><label>C)</label><input class="form-control" type="text"></div>
                <div class="text-left d-lg-flex align-items-lg-start"><input type="radio"><label>D)</label><input class="form-control" type="text"></div>
            </div>
        </form>
    </div>
</body>
</html>
