@model WebTHPT.Models.GiaoVienLop

@{
    ViewBag.Title = "QuanLyLopHoc";
    Layout = "~/Views/TeacherLayout/TeacherLayout.cshtml";
}

<h2>QuanLyLopHoc</h2>

<link href="~/Content/all.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div _ngcontent-c9="" class="col-md-12 jarviswidget jarviswidget-sortable jarviswidget-color-blueDark pr-2">
    <div _ngcontent-c9="" class="widget-body">
        <form _ngcontent-c9="" class="form-horizontal ng-pristine ng-invalid ng-touched" novalidate="">
            <div _ngcontent-c9="" class="row mt-3">
                <fieldset _ngcontent-c9="">
                    <div _ngcontent-c9="" class="row">
                            <table class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>Niên khóa</th>
                                        <th>Mã lớp</th>
                                        <th>Tên Lớp</th>
                                        <th>Môn Dạy</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2016-2019</td>
                                        <td>A0101</td>
                                        <td>10A01</td>
                                        <td>Toán học 10</td>
                                        <td>
                                            <a href="#" title="Danh sách Học Sinh">DS Học Sinh</a>
                                        </td>
                                        <td>
                                            <a href="#" title="Đề thi">Đề Thi</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>2017-2020</td>
                                        <td>A0102</td>
                                        <td>12A01</td>
                                        <td>Ngoại Ngữ 12</td>
                                        <td>
                                            <a href="#" title="Danh sách Học Sinh">DS Học Sinh</a>
                                        </td>
                                        <td>
                                            <a href="#" title="Đề thi">Đề Thi</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>2018-2022</td>
                                        <td>A0103</td>
                                        <td>11A01</td>
                                        <td>Ngữ Văn 11</td>
                                        <td>
                                            <a href="#" title="Danh sách Học Sinh">DS Học Sinh</a>
                                        </td>
                                        <td>
                                            <a href="#" title="Đề thi">Đề Thi</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td>2017-2020</td>
                                        <td>A0102</td>
                                        <td>12A03</td>
                                        <td>Vật Lý 12</td>
                                        <td>
                                            <a href="#" title="Danh sách Học Sinh">DS Học Sinh</a>
                                        </td>
                                        <td>
                                            <a href="#" title="Đề thi">Đề Thi</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>


