@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Web THPT</title>
    <link href="~/Content/StudentCss/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/StudentCss/nprogress.css" rel="stylesheet" />
    <link href="~/Content/StudentCss/green.css" rel="stylesheet" />
    <link href="~/Content/StudentCss/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="~/Content/StudentCss/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Content/StudentCss/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/StudentCss/custom.min.css" rel="stylesheet" />
    <link href="~/Content/StudentCss/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css.map" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/StudentCss/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="nav-md">
    <div class="container body" style="width:auto">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view" style="width:auto">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fas fa-graduation-cap"></i> <span>Thi Trắc Nghiệm </span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Image/5D3_1814.JPG" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin Chào,</span>
                            <h2>Dương Thành Phết </h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" ">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="https://www.youtube.com"><i class="fa fa-home"></i> Trang Chủ</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-edit"></i> Thông Tin Giáo Viên </a>

                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-desktop"></i> Tạo Đề </a>

                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-table"></i> Quản Lý Điểm </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i>Quản Lý Lớp Học </a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-phone-square"></i> Liên Hệ </a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <ul class="nav side-menu"></ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Image/5D3_1814.JPG" alt="">Dương Thành Phết
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Trợ Giúp </a></li>
                                    <li><a href="login.html"> Đăng Xuất <i style="margin-right:2px" class="fas fa-sign-out-alt"></i> </a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Quản Lý Trắc Nghiệm
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <script src="~/Content/StudentCss/jquery.min.js"></script>
    <script src="~/Scripts/StudentJs/jquery.min.js"></script>
    <script src="~/Scripts/StudentJs/bootstrap.min.js"></script>
    <script src="~/Scripts/StudentJs/fastclick.js"></script>
    <script src="~/Scripts/StudentJs/nprogress.js"></script>
    <script src="~/Scripts/StudentJs/Chart.min.js"></script>
    <script src="~/Scripts/StudentJs/gauge.min.js"></script>
    <script src="~/Scripts/StudentJs/bootstrap-progressbar.min.js"></script>
    <script src="~/Scripts/StudentJs/icheck.min.js"></script>
    <script src="~/Scripts/StudentJs/skycons.js"></script>
    <script src="~/Scripts/StudentJs/jquery.flot.js"></script>
    <script src="~/Scripts/StudentJs/jquery.flot.pie.js"></script>
    <script src="~/Scripts/StudentJs/jquery.flot.time.js"></script>
    <script src="~/Scripts/StudentJs/jquery.flot.stack.js"></script>
    <script src="~/Scripts/StudentJs/jquery.flot.resize.js"></script>
    <script src="~/Scripts/StudentJs/jquery.flot.orderBars.js"></script>
    <script src="~/Scripts/StudentJs/jquery.flot.spline.min.js"></script>
    <script src="~/Scripts/StudentJs/curvedLines.js"></script>
    <script src="~/Scripts/StudentJs/date.js"></script>
    <script src="~/Scripts/StudentJs/jquery.vmap.js"></script>
    <script src="~/Scripts/StudentJs/jquery.vmap.world.js"></script>
    <script src="~/Scripts/StudentJs/jquery.vmap.sampledata.js"></script>
    <script src="~/Scripts/StudentJs/moment.min.js"></script>
    <script src="~/Scripts/StudentJs/daterangepicker.js"></script>
    <script src="~/Scripts/StudentJs/custom.min.js"></script>
    <script src="~/Scripts/all.js"></script>
</body>
</html>
