
@{
    ViewBag.Title = "DanhSachHocSinh";
    Layout = "~/Areas/Teacher/Views/Shared/TeacherLayout.cshtml";
}

<h2>Danh Sách Học Sinh:</h2>

<div _ngcontent-c9="" class="col-md-12">
    <div _ngcontent-c9="" class="row">
        <span style="font-size:24px">LỚP 12A1</span>
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Tên Học Sinh</th>
                    <th>Mã Học Sinh</th>
                    <th>Năm sinh</th>
                    <th>Giới tính</th>
                    <th>Số Điện Thoại</th>
                    <th>Email</th>
                    <th>Niên Khóa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tên Học Sinh</td>
                    <td>Mã Học Sinh</td>
                    <td>Năm sinh</td>
                    <td>Giới tính</td>
                    <td>Số Điện Thoại</td>
                    <td>Email</td>
                    <td>Niên Khóa</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



