
@{
    ViewBag.Title = "InfoST";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<div _ngcontent-c9="" class="col-md-3">
    <div _ngcontent-c9="" class="row">
        <div _ngcontent-c9="" class="col-md-12">
            @*  <img _ngcontent-c9="" class="img-responsive" onerror="this.src='~/image/@item.HinhAnh'" style="margin:auto" src="~/image/Students/@item.HinhAnh">*@
            <img class="img-responsive" src="~/Image/profile.png" />
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
        </div>
        <div _ngcontent-c9="" class="col-md-12 mt-3">
            <div _ngcontent-c9="" class="alert alert-success">
                Cập nhật gần nhất: <i _ngcontent-c9="">21 giờ 21 phút, ngày 06/03/2019</i>
            </div>
            <div _ngcontent-c9="" class="alert alert-warning">
                Lưu ý:
                <span _ngcontent-c9="" class="text-danger">(*)</span> Dữ liệu không được phép để trống
            </div>
        </div>
    </div>
</div>

<section _ngcontent-c9="" class="col-md-9 jarviswidget jarviswidget-sortable jarviswidget-color-blueDark pr-2">
    <div _ngcontent-c9="" class="widget-body">
        <form _ngcontent-c9="" class="form-horizontal ng-pristine ng-invalid ng-touched" novalidate="">
            <div _ngcontent-c9="" class="row">
                <div _ngcontent-c9="" class="col-md-6">
                    Mã số học sinh:
                    <span _ngcontent-c9="" class="font-weight-bold">#</span>
                </div>
                <div _ngcontent-c9="" class="col-md-6">
                    Họ tên:
                    <span _ngcontent-c9="" class="font-weight-bold">
                        #
                    </span>
                </div>
            </div>
            <div _ngcontent-c9="" class="row mt-2">
                <div _ngcontent-c9="" class="col-md-6">
                    Lớp:
                    <span _ngcontent-c9="" class="font-weight-bold">#</span>
                </div>

                <div _ngcontent-c9="" class="col-md-6">
                    Ngày sinh:

                    <span _ngcontent-c9="">#</span>
                </div>
            </div>
            <div _ngcontent-c9="" class="row  mt-2">
                <div _ngcontent-c9="" class="col-md-6">
                    Niên khóa:
                    <span _ngcontent-c9="">#</span>
                </div>
            </div>
            <div _ngcontent-c9="" class="row mt-4">
                <fieldset _ngcontent-c9="">
                    <legend _ngcontent-c9="">
                        <h6 _ngcontent-c9="" class="font-weight-bold ml-3 my-0">
                            THÔNG TIN HỌC SINH
                        </h6>
                    </legend>
                    <div _ngcontent-c9="" class="col-md-12">
                        <div _ngcontent-c9="" class="row form-group">
                            <div _ngcontent-c9="" class="col-md-2">
                                <label _ngcontent-c9="" class="control-label">
                                    Giới tính
                                    <span _ngcontent-c9="" class="text-danger">(*)</span>
                                </label>
                            </div>
                            <div _ngcontent-c9="" class="col-md-4">
                                <select _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="gioi_tinh">
                                    <option _ngcontent-c9="" value="">Chọn giới tính</option>
                                    <option _ngcontent-c9="" value="#">Nam</option>
                                    <option _ngcontent-c9="" value="#">Nữ</option>
                                </select>
                                <!---->
                            </div>
                            <div _ngcontent-c9="" class="col-md-2 margin-top">
                                <label _ngcontent-c9="" class="control-label">
                                    Nơi sinh
                                    <span _ngcontent-c9="" class="text-danger">(*)</span>:
                                </label>
                            </div>
                            <div _ngcontent-c9="" class="col-md-4">
                                <select _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="noi_sinh">
                                    <option _ngcontent-c9="" value=""></option>
                                    <!---->
                                    <option _ngcontent-c9="" value="89" class="ng-star-inserted">An Giang</option>
                                    <option _ngcontent-c9="" value="77" class="ng-star-inserted">Bà Rịa - Vũng Tàu</option>
                                    <option _ngcontent-c9="" value="74" class="ng-star-inserted">Bình Dương</option>
                                    <option _ngcontent-c9="" value="70" class="ng-star-inserted">Bình Phước</option>
                                    <option _ngcontent-c9="" value="60" class="ng-star-inserted">Bình Thuận</option>
                                    <option _ngcontent-c9="" value="52" class="ng-star-inserted">Bình Định</option>
                                    <option _ngcontent-c9="" value="95" class="ng-star-inserted">Bạc Liêu</option>
                                    <option _ngcontent-c9="" value="24" class="ng-star-inserted">Bắc Giang</option>
                                    <option _ngcontent-c9="" value="6" class="ng-star-inserted">Bắc Kạn</option>
                                    <option _ngcontent-c9="" value="27" class="ng-star-inserted">Bắc Ninh</option>
                                    <option _ngcontent-c9="" value="83" class="ng-star-inserted">Bến Tre</option>
                                    <option _ngcontent-c9="" value="4" class="ng-star-inserted">Cao Bằng</option>
                                    <option _ngcontent-c9="" value="96" class="ng-star-inserted">Cà Mau</option>
                                    <option _ngcontent-c9="" value="92" class="ng-star-inserted">Cần Thơ</option>
                                    <option _ngcontent-c9="" value="64" class="ng-star-inserted">Gia Lai</option>
                                    <option _ngcontent-c9="" value="17" class="ng-star-inserted">Hoà Bình</option>
                                    <option _ngcontent-c9="" value="2" class="ng-star-inserted">Hà Giang</option>
                                    <option _ngcontent-c9="" value="35" class="ng-star-inserted">Hà Nam</option>
                                    <option _ngcontent-c9="" value="1" class="ng-star-inserted">Hà Nội</option>
                                    <option _ngcontent-c9="" value="97" class="ng-star-inserted">Hà Tây</option>
                                    <option _ngcontent-c9="" value="42" class="ng-star-inserted">Hà Tĩnh</option>
                                    <option _ngcontent-c9="" value="33" class="ng-star-inserted">Hưng Yên</option>
                                    <option _ngcontent-c9="" value="30" class="ng-star-inserted">Hải Dương</option>
                                    <option _ngcontent-c9="" value="31" class="ng-star-inserted">Hải Phòng</option>
                                    <option _ngcontent-c9="" value="93" class="ng-star-inserted">Hậu Giang</option>
                                    <option _ngcontent-c9="" value="79" class="ng-star-inserted">Hồ Chí Minh</option>
                                    <option _ngcontent-c9="" value="56" class="ng-star-inserted">Khánh Hòa</option>
                                    <option _ngcontent-c9="" value="91" class="ng-star-inserted">Kiên Giang</option>
                                    <option _ngcontent-c9="" value="62" class="ng-star-inserted">Kon Tum</option>
                                    <option _ngcontent-c9="" value="12" class="ng-star-inserted">Lai Châu</option>
                                    <option _ngcontent-c9="" value="80" class="ng-star-inserted">Long An</option>
                                    <option _ngcontent-c9="" value="10" class="ng-star-inserted">Lào Cai</option>
                                    <option _ngcontent-c9="" value="68" class="ng-star-inserted">Lâm Đồng</option>
                                    <option _ngcontent-c9="" value="20" class="ng-star-inserted">Lạng Sơn</option>
                                    <option _ngcontent-c9="" value="36" class="ng-star-inserted">Nam Định</option>
                                    <option _ngcontent-c9="" value="40" class="ng-star-inserted">Nghệ An</option>
                                    <option _ngcontent-c9="" value="37" class="ng-star-inserted">Ninh Bình</option>
                                    <option _ngcontent-c9="" value="58" class="ng-star-inserted">Ninh Thuận</option>
                                    <option _ngcontent-c9="" value="25" class="ng-star-inserted">Phú Thọ</option>
                                    <option _ngcontent-c9="" value="54" class="ng-star-inserted">Phú Yên</option>
                                    <option _ngcontent-c9="" value="44" class="ng-star-inserted">Quảng Bình</option>
                                    <option _ngcontent-c9="" value="49" class="ng-star-inserted">Quảng Nam</option>
                                    <option _ngcontent-c9="" value="51" class="ng-star-inserted">Quảng Ngãi</option>
                                    <option _ngcontent-c9="" value="22" class="ng-star-inserted">Quảng Ninh</option>
                                    <option _ngcontent-c9="" value="45" class="ng-star-inserted">Quảng Trị</option>
                                    <option _ngcontent-c9="" value="94" class="ng-star-inserted">Sóc Trăng</option>
                                    <option _ngcontent-c9="" value="14" class="ng-star-inserted">Sơn La</option>
                                    <option _ngcontent-c9="" value="38" class="ng-star-inserted">Thanh Hóa</option>
                                    <option _ngcontent-c9="" value="34" class="ng-star-inserted">Thái Bình</option>
                                    <option _ngcontent-c9="" value="19" class="ng-star-inserted">Thái Nguyên</option>
                                    <option _ngcontent-c9="" value="46" class="ng-star-inserted">Thừa Thiên Huế</option>
                                    <option _ngcontent-c9="" value="82" class="ng-star-inserted">Tiền Giang</option>
                                    <option _ngcontent-c9="" value="84" class="ng-star-inserted">Trà Vinh</option>
                                    <option _ngcontent-c9="" value="8" class="ng-star-inserted">Tuyên Quang</option>
                                    <option _ngcontent-c9="" value="72" class="ng-star-inserted">Tây Ninh</option>
                                    <option _ngcontent-c9="" value="86" class="ng-star-inserted">Vĩnh Long</option>
                                    <option _ngcontent-c9="" value="26" class="ng-star-inserted">Vĩnh Phúc</option>
                                    <option _ngcontent-c9="" value="15" class="ng-star-inserted">Yên Bái</option>
                                    <option _ngcontent-c9="" value="11" class="ng-star-inserted">Điện Biên</option>
                                    <option _ngcontent-c9="" value="48" class="ng-star-inserted">Đà Nẵng</option>
                                    <option _ngcontent-c9="" value="66" class="ng-star-inserted">Đắk Lắk</option>
                                    <option _ngcontent-c9="" value="67" class="ng-star-inserted">Đắk Nông</option>
                                    <option _ngcontent-c9="" value="75" class="ng-star-inserted">Đồng Nai</option>
                                    <option _ngcontent-c9="" value="87" class="ng-star-inserted">Đồng Tháp</option>
                                </select>
                                <!---->
                            </div>
                        </div>
                        <div _ngcontent-c9="" class="row form-group">
                            <div _ngcontent-c9="" class="col-md-2">
                                <label _ngcontent-c9="" class="control-label">
                                    Email
                                    <span _ngcontent-c9="" class="text-danger">(*)</span>:
                                </label>
                            </div>
                            <div _ngcontent-c9="" class="col-md-4">
                                <input _ngcontent-c9="" class="form-control ng-pristine ng-invalid ng-touched" formcontrolname="email" type="text">
                                <!---->
                                <!---->
                            </div>
                            <div _ngcontent-c9="" class="col-md-2"></div>
                            <div _ngcontent-c9="" class="col-md-4"></div>
                        </div>

                        <div _ngcontent-c9="" class="row form-group">
                            <div _ngcontent-c9="" class="col-md-2">
                                <label _ngcontent-c9="" class="control-label">
                                    Điện thoại
                                    <span _ngcontent-c9="" class="text-danger">(*)</span>:
                                </label>
                            </div>
                            <div _ngcontent-c9="" class="col-md-4">
                                <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="dien_thoai" type="text" value="#" />
                                <!---->
                            </div>

                            <div _ngcontent-c9="" class="col-md-2 margin-top">
                                <label _ngcontent-c9="" class="control-label">
                                    ĐT báo tin
                                    <span _ngcontent-c9="" class="text-danger">(*)</span>:
                                </label>
                            </div>
                            <div _ngcontent-c9="" class="col-md-4">
                                <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="dien_thoai_bao_tin_gap" type="text" value="">
                                <!---->
                            </div>

                        </div>

                        <div _ngcontent-c9="" class="row form-group">
                            <div _ngcontent-c9="" class="col-md-2">
                                <label _ngcontent-c9="" class="control-label">
                                    Số CMND
                                    <span _ngcontent-c9="" class="text-danger">(*)</span>:
                                </label>
                            </div>
                            <div _ngcontent-c9="" class="col-md-4">
                                <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="so_cmnd" type="text">
                                <!---->
                            </div>
                            <div _ngcontent-c9="" class="col-md-2 margin-top">
                                <label _ngcontent-c9="" class="control-label">
                                    Nơi Cấp CMND
                                    <span _ngcontent-c9="" class="text-danger">(*)</span>:
                                </label>
                            </div>
                            <div _ngcontent-c9="" class="col-md-4">
                                <select _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="noi_cap_cmnd">
                                    <option _ngcontent-c9="" value="">Chọn Nơi cấp</option>
                                    <!---->
                                    <option _ngcontent-c9="" value="89" class="ng-star-inserted">An Giang</option>
                                    <option _ngcontent-c9="" value="77" class="ng-star-inserted">Bà Rịa - Vũng Tàu</option>
                                    <option _ngcontent-c9="" value="74" class="ng-star-inserted">Bình Dương</option>
                                    <option _ngcontent-c9="" value="70" class="ng-star-inserted">Bình Phước</option>
                                    <option _ngcontent-c9="" value="60" class="ng-star-inserted">Bình Thuận</option>
                                    <option _ngcontent-c9="" value="52" class="ng-star-inserted">Bình Định</option>
                                    <option _ngcontent-c9="" value="95" class="ng-star-inserted">Bạc Liêu</option>
                                    <option _ngcontent-c9="" value="24" class="ng-star-inserted">Bắc Giang</option>
                                    <option _ngcontent-c9="" value="6" class="ng-star-inserted">Bắc Kạn</option>
                                    <option _ngcontent-c9="" value="27" class="ng-star-inserted">Bắc Ninh</option>
                                    <option _ngcontent-c9="" value="83" class="ng-star-inserted">Bến Tre</option>
                                    <option _ngcontent-c9="" value="4" class="ng-star-inserted">Cao Bằng</option>
                                    <option _ngcontent-c9="" value="96" class="ng-star-inserted">Cà Mau</option>
                                    <option _ngcontent-c9="" value="92" class="ng-star-inserted">Cần Thơ</option>
                                    <option _ngcontent-c9="" value="64" class="ng-star-inserted">Gia Lai</option>
                                    <option _ngcontent-c9="" value="17" class="ng-star-inserted">Hoà Bình</option>
                                    <option _ngcontent-c9="" value="2" class="ng-star-inserted">Hà Giang</option>
                                    <option _ngcontent-c9="" value="35" class="ng-star-inserted">Hà Nam</option>
                                    <option _ngcontent-c9="" value="1" class="ng-star-inserted">Hà Nội</option>
                                    <option _ngcontent-c9="" value="97" class="ng-star-inserted">Hà Tây</option>
                                    <option _ngcontent-c9="" value="42" class="ng-star-inserted">Hà Tĩnh</option>
                                    <option _ngcontent-c9="" value="33" class="ng-star-inserted">Hưng Yên</option>
                                    <option _ngcontent-c9="" value="30" class="ng-star-inserted">Hải Dương</option>
                                    <option _ngcontent-c9="" value="31" class="ng-star-inserted">Hải Phòng</option>
                                    <option _ngcontent-c9="" value="93" class="ng-star-inserted">Hậu Giang</option>
                                    <option _ngcontent-c9="" value="79" class="ng-star-inserted">Hồ Chí Minh</option>
                                    <option _ngcontent-c9="" value="56" class="ng-star-inserted">Khánh Hòa</option>
                                    <option _ngcontent-c9="" value="91" class="ng-star-inserted">Kiên Giang</option>
                                    <option _ngcontent-c9="" value="62" class="ng-star-inserted">Kon Tum</option>
                                    <option _ngcontent-c9="" value="12" class="ng-star-inserted">Lai Châu</option>
                                    <option _ngcontent-c9="" value="80" class="ng-star-inserted">Long An</option>
                                    <option _ngcontent-c9="" value="10" class="ng-star-inserted">Lào Cai</option>
                                    <option _ngcontent-c9="" value="68" class="ng-star-inserted">Lâm Đồng</option>
                                    <option _ngcontent-c9="" value="20" class="ng-star-inserted">Lạng Sơn</option>
                                    <option _ngcontent-c9="" value="36" class="ng-star-inserted">Nam Định</option>
                                    <option _ngcontent-c9="" value="40" class="ng-star-inserted">Nghệ An</option>
                                    <option _ngcontent-c9="" value="37" class="ng-star-inserted">Ninh Bình</option>
                                    <option _ngcontent-c9="" value="58" class="ng-star-inserted">Ninh Thuận</option>
                                    <option _ngcontent-c9="" value="25" class="ng-star-inserted">Phú Thọ</option>
                                    <option _ngcontent-c9="" value="54" class="ng-star-inserted">Phú Yên</option>
                                    <option _ngcontent-c9="" value="44" class="ng-star-inserted">Quảng Bình</option>
                                    <option _ngcontent-c9="" value="49" class="ng-star-inserted">Quảng Nam</option>
                                    <option _ngcontent-c9="" value="51" class="ng-star-inserted">Quảng Ngãi</option>
                                    <option _ngcontent-c9="" value="22" class="ng-star-inserted">Quảng Ninh</option>
                                    <option _ngcontent-c9="" value="45" class="ng-star-inserted">Quảng Trị</option>
                                    <option _ngcontent-c9="" value="94" class="ng-star-inserted">Sóc Trăng</option>
                                    <option _ngcontent-c9="" value="14" class="ng-star-inserted">Sơn La</option>
                                    <option _ngcontent-c9="" value="38" class="ng-star-inserted">Thanh Hóa</option>
                                    <option _ngcontent-c9="" value="34" class="ng-star-inserted">Thái Bình</option>
                                    <option _ngcontent-c9="" value="19" class="ng-star-inserted">Thái Nguyên</option>
                                    <option _ngcontent-c9="" value="46" class="ng-star-inserted">Thừa Thiên Huế</option>
                                    <option _ngcontent-c9="" value="82" class="ng-star-inserted">Tiền Giang</option>
                                    <option _ngcontent-c9="" value="84" class="ng-star-inserted">Trà Vinh</option>
                                    <option _ngcontent-c9="" value="8" class="ng-star-inserted">Tuyên Quang</option>
                                    <option _ngcontent-c9="" value="72" class="ng-star-inserted">Tây Ninh</option>
                                    <option _ngcontent-c9="" value="86" class="ng-star-inserted">Vĩnh Long</option>
                                    <option _ngcontent-c9="" value="26" class="ng-star-inserted">Vĩnh Phúc</option>
                                    <option _ngcontent-c9="" value="15" class="ng-star-inserted">Yên Bái</option>
                                    <option _ngcontent-c9="" value="11" class="ng-star-inserted">Điện Biên</option>
                                    <option _ngcontent-c9="" value="48" class="ng-star-inserted">Đà Nẵng</option>
                                    <option _ngcontent-c9="" value="66" class="ng-star-inserted">Đắk Lắk</option>
                                    <option _ngcontent-c9="" value="67" class="ng-star-inserted">Đắk Nông</option>
                                    <option _ngcontent-c9="" value="75" class="ng-star-inserted">Đồng Nai</option>
                                    <option _ngcontent-c9="" value="87" class="ng-star-inserted">Đồng Tháp</option>
                                </select>
                            </div>
                        </div>
                        <!---->
                    </div>

                    <div _ngcontent-c9="" class="row form-group">
                        <div _ngcontent-c9="" class="col-md-2">
                            <label _ngcontent-c9="" class="control-label">
                                Quốc tịch
                                <span _ngcontent-c9="" class="text-danger">(*)</span>:
                            </label>

                        </div>
                        <div _ngcontent-c9="" class="col-md-4">
                            <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="quoc_tich" type="text" value="#">
                            <!---->

                        </div>
                        <div _ngcontent-c9="" class="col-md-2"></div>
                        <div _ngcontent-c9="" class="col-md-4"></div>
                    </div>

                    <div _ngcontent-c9="" class="row form-group">
                        <div _ngcontent-c9="" class="col-md-2">
                            <label _ngcontent-c9="" class="control-label">
                                Dân tộc
                                <span _ngcontent-c9="" class="text-danger">(*)</span>:
                            </label>
                        </div>
                        <div _ngcontent-c9="" class="col-md-4">
                            <select _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="dan_toc">
                                <option _ngcontent-c9="" value="">#</option>
                                <!---->
                                <option _ngcontent-c9="" value="13" class="ng-star-inserted">Ba na</option>
                                <option _ngcontent-c9="" value="23" class="ng-star-inserted">Bru-Vân Kiều</option>
                                <option _ngcontent-c9="" value="51" class="ng-star-inserted">Brâu</option>
                                <option _ngcontent-c9="" value="48" class="ng-star-inserted">Bố Y</option>
                                <option _ngcontent-c9="" value="59" class="ng-star-inserted">Cao Lan</option>
                                <option _ngcontent-c9="" value="36" class="ng-star-inserted">Chu ru</option>
                                <option _ngcontent-c9="" value="17" class="ng-star-inserted">Chăm</option>
                                <option _ngcontent-c9="" value="32" class="ng-star-inserted">Chơ-ro</option>
                                <option _ngcontent-c9="" value="44" class="ng-star-inserted">Chứt</option>
                                <option _ngcontent-c9="" value="60" class="ng-star-inserted">Cil</option>
                                <option _ngcontent-c9="" value="30" class="ng-star-inserted">Co</option>
                                <option _ngcontent-c9="" value="57" class="ng-star-inserted">Co lao</option>
                                <option _ngcontent-c9="" value="16" class="ng-star-inserted">Cơ-ho</option>
                                <option _ngcontent-c9="" value="26" class="ng-star-inserted">Cơ-tu</option>
                                <option _ngcontent-c9="" value="47" class="ng-star-inserted">Cống</option>
                                <option _ngcontent-c9="" value="9" class="ng-star-inserted">Dao</option>
                                <option _ngcontent-c9="" value="10" class="ng-star-inserted">Gia-rai</option>
                                <option _ngcontent-c9="" value="56" class="ng-star-inserted">Giay</option>
                                <option _ngcontent-c9="" value="25" class="ng-star-inserted">Giáy</option>
                                <option _ngcontent-c9="" value="27" class="ng-star-inserted">Gié Triêng</option>
                                <option _ngcontent-c9="" value="8" class="ng-star-inserted">HMông</option>
                                <option _ngcontent-c9="" value="4" class="ng-star-inserted">Hoa</option>
                                <option _ngcontent-c9="" value="19" class="ng-star-inserted">Hrê</option>
                                <option _ngcontent-c9="" value="35" class="ng-star-inserted">Hà Nhì</option>
                                <option _ngcontent-c9="" value="33" class="ng-star-inserted">Kháng</option>
                                <option _ngcontent-c9="" value="55" class="ng-star-inserted">Không rõ</option>
                                <option _ngcontent-c9="" value="5" class="ng-star-inserted">Khơ-me</option>
                                <option _ngcontent-c9="" value="29" class="ng-star-inserted">Khơ-mú</option>
                                <option _ngcontent-c9="" value="1" class="ng-star-inserted">Kinh</option>
                                <option _ngcontent-c9="" value="38" class="ng-star-inserted">La Chí</option>
                                <option _ngcontent-c9="" value="39" class="ng-star-inserted">La Ha</option>
                                <option _ngcontent-c9="" value="41" class="ng-star-inserted">La Hủ</option>
                                <option _ngcontent-c9="" value="37" class="ng-star-inserted">Lào</option>
                                <option _ngcontent-c9="" value="43" class="ng-star-inserted">Lô Lô</option>
                                <option _ngcontent-c9="" value="42" class="ng-star-inserted">Lự</option>
                                <option _ngcontent-c9="" value="20" class="ng-star-inserted">Mnông</option>
                                <option _ngcontent-c9="" value="58" class="ng-star-inserted">Mán</option>
                                <option _ngcontent-c9="" value="6" class="ng-star-inserted">Mường</option>
                                <option _ngcontent-c9="" value="28" class="ng-star-inserted">Mạ</option>
                                <option _ngcontent-c9="" value="45" class="ng-star-inserted">Mảng</option>
                                <option _ngcontent-c9="" value="11" class="ng-star-inserted">Ngái</option>
                                <option _ngcontent-c9="" value="54" class="ng-star-inserted">Người nước ngoài</option>
                                <option _ngcontent-c9="" value="7" class="ng-star-inserted">Nùng</option>
                                <option _ngcontent-c9="" value="40" class="ng-star-inserted">Phù Lá</option>
                                <option _ngcontent-c9="" value="50" class="ng-star-inserted">Pu Péo</option>
                                <option _ngcontent-c9="" value="46" class="ng-star-inserted">Pà Thẻn</option>
                                <option _ngcontent-c9="" value="21" class="ng-star-inserted">Ra-glai</option>
                                <option _ngcontent-c9="" value="53" class="ng-star-inserted">Rơ măm</option>
                                <option _ngcontent-c9="" value="49" class="ng-star-inserted">Si La</option>
                                <option _ngcontent-c9="" value="15" class="ng-star-inserted">Sán Chay</option>
                                <option _ngcontent-c9="" value="18" class="ng-star-inserted">Sán Dìu</option>
                                <option _ngcontent-c9="" value="3" class="ng-star-inserted">Thái</option>
                                <option _ngcontent-c9="" value="24" class="ng-star-inserted">Thổ</option>
                                <option _ngcontent-c9="" value="31" class="ng-star-inserted">Tà-ôi</option>
                                <option _ngcontent-c9="" value="2" class="ng-star-inserted">Tày</option>
                                <option _ngcontent-c9="" value="34" class="ng-star-inserted">Xinh-mun</option>
                                <option _ngcontent-c9="" value="22" class="ng-star-inserted">Xtiêng</option>
                                <option _ngcontent-c9="" value="14" class="ng-star-inserted">Xơ-Đăng</option>
                                <option _ngcontent-c9="" value="12" class="ng-star-inserted">Ê-đê</option>
                                <option _ngcontent-c9="" value="52" class="ng-star-inserted">Ơ Đu</option>
                                <option _ngcontent-c9="" value="61" class="ng-star-inserted">Ấn Độ</option>
                            </select>
                            <!---->
                        </div>
                        <div _ngcontent-c9="" class="col-md-2 margin-top">
                            <label _ngcontent-c9="" class="control-label">
                                Tôn giáo
                                <span _ngcontent-c9="" class="text-danger">(*)</span>:
                            </label>
                        </div>
                        <div _ngcontent-c9="" class="col-md-4">
                            <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="ton_giao" type="text">
                            @*select _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="ton_giao">
                                    <option _ngcontent-c9="" value=""></option>
                                    <!---->
                                    <option _ngcontent-c9="" value="9" class="ng-star-inserted">Bà La Môn</option>
                                    <option _ngcontent-c9="" value="10" class="ng-star-inserted">Bà Ni</option>
                                    <option _ngcontent-c9="" value="4" class="ng-star-inserted">Cao Đài</option>
                                    <option _ngcontent-c9="" value="7" class="ng-star-inserted">Công giáo Roma</option>
                                    <option _ngcontent-c9="" value="6" class="ng-star-inserted">Hòa Hảo</option>
                                    <option _ngcontent-c9="" value="11" class="ng-star-inserted">Hồi giáo</option>
                                    <option _ngcontent-c9="" value="8" class="ng-star-inserted">Khác</option>
                                    <option _ngcontent-c9="" value="1" class="ng-star-inserted">Phật giáo</option>
                                    <option _ngcontent-c9="" value="2" class="ng-star-inserted">Thiên Chúa giáo</option>
                                    <option _ngcontent-c9="" value="5" class="ng-star-inserted">Tin lành</option>
                                    <option _ngcontent-c9="" value="3" class="ng-star-inserted">Tín ngưỡng hoặc không tôn giáo</option>
                                </select>*@
                            <!---->
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>

    </div>

    <div _ngcontent-c9="" class="row mt-4">
        <fieldset _ngcontent-c9="">
            <legend _ngcontent-c9="">
                <h6 _ngcontent-c9="" class="font-weight-bold ml-3 my-0">
                    ĐỊA CHỈ LIÊN LẠC
                </h6>
            </legend>


            <div _ngcontent-c9="" class="col-md-12">
                <div _ngcontent-c9="" class="row form-group">
                    <div _ngcontent-c9="" class="col-md-2">
                        <label _ngcontent-c9="" class=" control-label">
                            Tỉnh/TP
                            <span _ngcontent-c9="" class="text-danger">(*)</span>:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4" title="Tỉnh/TP liên lạc">
                        <select _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="tinh_ll">
                            <option _ngcontent-c9="" value="">Chọn Tỉnh/TP</option>
                            <!---->
                            <option _ngcontent-c9="" value="89" class="ng-star-inserted">An Giang</option>
                            <option _ngcontent-c9="" value="77" class="ng-star-inserted">Bà Rịa - Vũng Tàu</option>
                            <option _ngcontent-c9="" value="74" class="ng-star-inserted">Bình Dương</option>
                            <option _ngcontent-c9="" value="70" class="ng-star-inserted">Bình Phước</option>
                            <option _ngcontent-c9="" value="60" class="ng-star-inserted">Bình Thuận</option>
                            <option _ngcontent-c9="" value="52" class="ng-star-inserted">Bình Định</option>
                            <option _ngcontent-c9="" value="95" class="ng-star-inserted">Bạc Liêu</option>
                            <option _ngcontent-c9="" value="24" class="ng-star-inserted">Bắc Giang</option>
                            <option _ngcontent-c9="" value="6" class="ng-star-inserted">Bắc Kạn</option>
                            <option _ngcontent-c9="" value="27" class="ng-star-inserted">Bắc Ninh</option>
                            <option _ngcontent-c9="" value="83" class="ng-star-inserted">Bến Tre</option>
                            <option _ngcontent-c9="" value="4" class="ng-star-inserted">Cao Bằng</option>
                            <option _ngcontent-c9="" value="96" class="ng-star-inserted">Cà Mau</option>
                            <option _ngcontent-c9="" value="92" class="ng-star-inserted">Cần Thơ</option>
                            <option _ngcontent-c9="" value="64" class="ng-star-inserted">Gia Lai</option>
                            <option _ngcontent-c9="" value="17" class="ng-star-inserted">Hoà Bình</option>
                            <option _ngcontent-c9="" value="2" class="ng-star-inserted">Hà Giang</option>
                            <option _ngcontent-c9="" value="35" class="ng-star-inserted">Hà Nam</option>
                            <option _ngcontent-c9="" value="1" class="ng-star-inserted">Hà Nội</option>
                            <option _ngcontent-c9="" value="97" class="ng-star-inserted">Hà Tây</option>
                            <option _ngcontent-c9="" value="42" class="ng-star-inserted">Hà Tĩnh</option>
                            <option _ngcontent-c9="" value="33" class="ng-star-inserted">Hưng Yên</option>
                            <option _ngcontent-c9="" value="30" class="ng-star-inserted">Hải Dương</option>
                            <option _ngcontent-c9="" value="31" class="ng-star-inserted">Hải Phòng</option>
                            <option _ngcontent-c9="" value="93" class="ng-star-inserted">Hậu Giang</option>
                            <option _ngcontent-c9="" value="79" class="ng-star-inserted">Hồ Chí Minh</option>
                            <option _ngcontent-c9="" value="56" class="ng-star-inserted">Khánh Hòa</option>
                            <option _ngcontent-c9="" value="91" class="ng-star-inserted">Kiên Giang</option>
                            <option _ngcontent-c9="" value="62" class="ng-star-inserted">Kon Tum</option>
                            <option _ngcontent-c9="" value="12" class="ng-star-inserted">Lai Châu</option>
                            <option _ngcontent-c9="" value="80" class="ng-star-inserted">Long An</option>
                            <option _ngcontent-c9="" value="10" class="ng-star-inserted">Lào Cai</option>
                            <option _ngcontent-c9="" value="68" class="ng-star-inserted">Lâm Đồng</option>
                            <option _ngcontent-c9="" value="20" class="ng-star-inserted">Lạng Sơn</option>
                            <option _ngcontent-c9="" value="36" class="ng-star-inserted">Nam Định</option>
                            <option _ngcontent-c9="" value="40" class="ng-star-inserted">Nghệ An</option>
                            <option _ngcontent-c9="" value="37" class="ng-star-inserted">Ninh Bình</option>
                            <option _ngcontent-c9="" value="58" class="ng-star-inserted">Ninh Thuận</option>
                            <option _ngcontent-c9="" value="25" class="ng-star-inserted">Phú Thọ</option>
                            <option _ngcontent-c9="" value="54" class="ng-star-inserted">Phú Yên</option>
                            <option _ngcontent-c9="" value="44" class="ng-star-inserted">Quảng Bình</option>
                            <option _ngcontent-c9="" value="49" class="ng-star-inserted">Quảng Nam</option>
                            <option _ngcontent-c9="" value="51" class="ng-star-inserted">Quảng Ngãi</option>
                            <option _ngcontent-c9="" value="22" class="ng-star-inserted">Quảng Ninh</option>
                            <option _ngcontent-c9="" value="45" class="ng-star-inserted">Quảng Trị</option>
                            <option _ngcontent-c9="" value="94" class="ng-star-inserted">Sóc Trăng</option>
                            <option _ngcontent-c9="" value="14" class="ng-star-inserted">Sơn La</option>
                            <option _ngcontent-c9="" value="38" class="ng-star-inserted">Thanh Hóa</option>
                            <option _ngcontent-c9="" value="34" class="ng-star-inserted">Thái Bình</option>
                            <option _ngcontent-c9="" value="19" class="ng-star-inserted">Thái Nguyên</option>
                            <option _ngcontent-c9="" value="46" class="ng-star-inserted">Thừa Thiên Huế</option>
                            <option _ngcontent-c9="" value="82" class="ng-star-inserted">Tiền Giang</option>
                            <option _ngcontent-c9="" value="84" class="ng-star-inserted">Trà Vinh</option>
                            <option _ngcontent-c9="" value="8" class="ng-star-inserted">Tuyên Quang</option>
                            <option _ngcontent-c9="" value="72" class="ng-star-inserted">Tây Ninh</option>
                            <option _ngcontent-c9="" value="86" class="ng-star-inserted">Vĩnh Long</option>
                            <option _ngcontent-c9="" value="26" class="ng-star-inserted">Vĩnh Phúc</option>
                            <option _ngcontent-c9="" value="15" class="ng-star-inserted">Yên Bái</option>
                            <option _ngcontent-c9="" value="11" class="ng-star-inserted">Điện Biên</option>
                            <option _ngcontent-c9="" value="48" class="ng-star-inserted">Đà Nẵng</option>
                            <option _ngcontent-c9="" value="66" class="ng-star-inserted">Đắk Lắk</option>
                            <option _ngcontent-c9="" value="67" class="ng-star-inserted">Đắk Nông</option>
                            <option _ngcontent-c9="" value="75" class="ng-star-inserted">Đồng Nai</option>
                            <option _ngcontent-c9="" value="87" class="ng-star-inserted">Đồng Tháp</option>
                        </select>
                        <!---->
                    </div>
                    <div _ngcontent-c9="" class="col-md-2 margin-top">
                        <label _ngcontent-c9="" class=" control-label">
                            Quận/Huyện
                            <span _ngcontent-c9="" class="text-danger">(*)</span>:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4" title="Quận/Huyện liên lạc">
                        <select _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="huyen_ll">
                            <option _ngcontent-c9="" value="">Chọn Quận/Huyện</option>
                            <!---->
                        </select>
                        <!---->
                    </div>
                </div>

                <div _ngcontent-c9="" class="row form-group" title="Số nhà, đường, phường/ xã">
                    <div _ngcontent-c9="" class="col-md-2">
                        <label _ngcontent-c9="" class="control-label">
                            Đ/C liên lạc
                            <span _ngcontent-c9="" class="text-danger">(*)</span>:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-10">
                        <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="dia_chi_ll" placeholder="Số nhà, đường, phường/ xã" type="text">
                        <!---->
                        <!---->
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div _ngcontent-c9="" class="row mt-4">
        <fieldset _ngcontent-c9="">
            <legend _ngcontent-c9="">
                <h6 _ngcontent-c9="" class="font-weight-bold ml-3 my-0">
                    ĐỊA CHỈ HỘ KHẨU
                </h6>
            </legend>

            <div _ngcontent-c9="" class="col-md-12">

                <div _ngcontent-c9="" class="row form-group">
                    <div _ngcontent-c9="" class="col-md-2">
                        <label _ngcontent-c9="" class="control-label">
                            Tỉnh/TP
                            <span _ngcontent-c9="" class="text-danger">(*)</span>:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4" title="Tỉnh/TP hộ khẩu">
                        <select _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="tinh_hk">
                            <option _ngcontent-c9="" value="">Chọn Tỉnh/TP</option>
                            <!---->
                            <option _ngcontent-c9="" value="89" class="ng-star-inserted">An Giang</option>
                            <option _ngcontent-c9="" value="77" class="ng-star-inserted">Bà Rịa - Vũng Tàu</option>
                            <option _ngcontent-c9="" value="74" class="ng-star-inserted">Bình Dương</option>
                            <option _ngcontent-c9="" value="70" class="ng-star-inserted">Bình Phước</option>
                            <option _ngcontent-c9="" value="60" class="ng-star-inserted">Bình Thuận</option>
                            <option _ngcontent-c9="" value="52" class="ng-star-inserted">Bình Định</option>
                            <option _ngcontent-c9="" value="95" class="ng-star-inserted">Bạc Liêu</option>
                            <option _ngcontent-c9="" value="24" class="ng-star-inserted">Bắc Giang</option>
                            <option _ngcontent-c9="" value="6" class="ng-star-inserted">Bắc Kạn</option>
                            <option _ngcontent-c9="" value="27" class="ng-star-inserted">Bắc Ninh</option>
                            <option _ngcontent-c9="" value="83" class="ng-star-inserted">Bến Tre</option>
                            <option _ngcontent-c9="" value="4" class="ng-star-inserted">Cao Bằng</option>
                            <option _ngcontent-c9="" value="96" class="ng-star-inserted">Cà Mau</option>
                            <option _ngcontent-c9="" value="92" class="ng-star-inserted">Cần Thơ</option>
                            <option _ngcontent-c9="" value="64" class="ng-star-inserted">Gia Lai</option>
                            <option _ngcontent-c9="" value="17" class="ng-star-inserted">Hoà Bình</option>
                            <option _ngcontent-c9="" value="2" class="ng-star-inserted">Hà Giang</option>
                            <option _ngcontent-c9="" value="35" class="ng-star-inserted">Hà Nam</option>
                            <option _ngcontent-c9="" value="1" class="ng-star-inserted">Hà Nội</option>
                            <option _ngcontent-c9="" value="97" class="ng-star-inserted">Hà Tây</option>
                            <option _ngcontent-c9="" value="42" class="ng-star-inserted">Hà Tĩnh</option>
                            <option _ngcontent-c9="" value="33" class="ng-star-inserted">Hưng Yên</option>
                            <option _ngcontent-c9="" value="30" class="ng-star-inserted">Hải Dương</option>
                            <option _ngcontent-c9="" value="31" class="ng-star-inserted">Hải Phòng</option>
                            <option _ngcontent-c9="" value="93" class="ng-star-inserted">Hậu Giang</option>
                            <option _ngcontent-c9="" value="79" class="ng-star-inserted">Hồ Chí Minh</option>
                            <option _ngcontent-c9="" value="56" class="ng-star-inserted">Khánh Hòa</option>
                            <option _ngcontent-c9="" value="91" class="ng-star-inserted">Kiên Giang</option>
                            <option _ngcontent-c9="" value="62" class="ng-star-inserted">Kon Tum</option>
                            <option _ngcontent-c9="" value="12" class="ng-star-inserted">Lai Châu</option>
                            <option _ngcontent-c9="" value="80" class="ng-star-inserted">Long An</option>
                            <option _ngcontent-c9="" value="10" class="ng-star-inserted">Lào Cai</option>
                            <option _ngcontent-c9="" value="68" class="ng-star-inserted">Lâm Đồng</option>
                            <option _ngcontent-c9="" value="20" class="ng-star-inserted">Lạng Sơn</option>
                            <option _ngcontent-c9="" value="36" class="ng-star-inserted">Nam Định</option>
                            <option _ngcontent-c9="" value="40" class="ng-star-inserted">Nghệ An</option>
                            <option _ngcontent-c9="" value="37" class="ng-star-inserted">Ninh Bình</option>
                            <option _ngcontent-c9="" value="58" class="ng-star-inserted">Ninh Thuận</option>
                            <option _ngcontent-c9="" value="25" class="ng-star-inserted">Phú Thọ</option>
                            <option _ngcontent-c9="" value="54" class="ng-star-inserted">Phú Yên</option>
                            <option _ngcontent-c9="" value="44" class="ng-star-inserted">Quảng Bình</option>
                            <option _ngcontent-c9="" value="49" class="ng-star-inserted">Quảng Nam</option>
                            <option _ngcontent-c9="" value="51" class="ng-star-inserted">Quảng Ngãi</option>
                            <option _ngcontent-c9="" value="22" class="ng-star-inserted">Quảng Ninh</option>
                            <option _ngcontent-c9="" value="45" class="ng-star-inserted">Quảng Trị</option>
                            <option _ngcontent-c9="" value="94" class="ng-star-inserted">Sóc Trăng</option>
                            <option _ngcontent-c9="" value="14" class="ng-star-inserted">Sơn La</option>
                            <option _ngcontent-c9="" value="38" class="ng-star-inserted">Thanh Hóa</option>
                            <option _ngcontent-c9="" value="34" class="ng-star-inserted">Thái Bình</option>
                            <option _ngcontent-c9="" value="19" class="ng-star-inserted">Thái Nguyên</option>
                            <option _ngcontent-c9="" value="46" class="ng-star-inserted">Thừa Thiên Huế</option>
                            <option _ngcontent-c9="" value="82" class="ng-star-inserted">Tiền Giang</option>
                            <option _ngcontent-c9="" value="84" class="ng-star-inserted">Trà Vinh</option>
                            <option _ngcontent-c9="" value="8" class="ng-star-inserted">Tuyên Quang</option>
                            <option _ngcontent-c9="" value="72" class="ng-star-inserted">Tây Ninh</option>
                            <option _ngcontent-c9="" value="86" class="ng-star-inserted">Vĩnh Long</option>
                            <option _ngcontent-c9="" value="26" class="ng-star-inserted">Vĩnh Phúc</option>
                            <option _ngcontent-c9="" value="15" class="ng-star-inserted">Yên Bái</option>
                            <option _ngcontent-c9="" value="11" class="ng-star-inserted">Điện Biên</option>
                            <option _ngcontent-c9="" value="48" class="ng-star-inserted">Đà Nẵng</option>
                            <option _ngcontent-c9="" value="66" class="ng-star-inserted">Đắk Lắk</option>
                            <option _ngcontent-c9="" value="67" class="ng-star-inserted">Đắk Nông</option>
                            <option _ngcontent-c9="" value="75" class="ng-star-inserted">Đồng Nai</option>
                            <option _ngcontent-c9="" value="87" class="ng-star-inserted">Đồng Tháp</option>
                        </select>
                        <!---->
                    </div>
                    <div _ngcontent-c9="" class="col-md-2 margin-top">
                        <label _ngcontent-c9="" class="control-label">
                            Quận/Huyện
                            <span _ngcontent-c9="" class="text-danger">(*)</span>:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4" title="Quận/Huyện hộ khẩu">
                        <select _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="huyen_hk">
                            <option _ngcontent-c9="" value="">Chọn Quận/ Huyện</option>
                            <!---->
                            <option _ngcontent-c9="" value="373" class="ng-star-inserted">Gia Viễn</option>
                            <option _ngcontent-c9="" value="374" class="ng-star-inserted">Hoa Lư</option>
                            <option _ngcontent-c9="" value="376" class="ng-star-inserted">Kim Sơn</option>
                            <option _ngcontent-c9="" value="372" class="ng-star-inserted">Nho Quan</option>
                            <option _ngcontent-c9="" value="378" class="ng-star-inserted">Thành phố Ninh Bình</option>
                            <option _ngcontent-c9="" value="382" class="ng-star-inserted">Thành phố Tam Điệp</option>
                            <option _ngcontent-c9="" value="375" class="ng-star-inserted">Yên Khánh</option>
                            <option _ngcontent-c9="" value="377" class="ng-star-inserted">Yên Mô</option>
                        </select>
                        <!---->
                    </div>
                </div>

                <div _ngcontent-c9="" class="row form-group">
                    <div _ngcontent-c9="" class="col-md-2">
                        <label _ngcontent-c9="" class="control-label" title="Số nhà, đường, phường/ xã">
                            Đ/C hộ khẩu
                            <span _ngcontent-c9="" class="text-danger">(*)</span>:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-10" title="Số nhà, đường, phường/ xã">
                        <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="dia_chi_hk" placeholder="Số nhà, đường, phường/ xã" type="text">
                        <!---->
                        <!---->
                    </div>
                </div>


            </div>
        </fieldset>
    </div>

    <div _ngcontent-c9="" class="row mt-4">
        <fieldset _ngcontent-c9="">
            <legend _ngcontent-c9="">
                <h6 _ngcontent-c9="" class="font-weight-bold ml-3 my-0">
                    THÔNG TIN NHÂN THÂN
                </h6>
            </legend>

            <div _ngcontent-c9="" class="col-md-12">
                <div _ngcontent-c9="" class="row form-group">
                    <div _ngcontent-c9="" class="col-md-2">
                        <label _ngcontent-c9="" class="control-label">
                            Họ tên cha:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4">
                        <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="ho_ten_cha" type="text">
                    </div>
                    <div _ngcontent-c9="" class="col-md-2 margin-top">
                        <label _ngcontent-c9="" class="control-label">
                            ĐT của cha:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4">
                        <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="dien_thoai_cha" type="text">
                    </div>
                </div>

                <div _ngcontent-c9="" class="row form-group">
                    <div _ngcontent-c9="" class="col-md-2">
                        <label _ngcontent-c9="" class="control-label" title="nghề nghiệp của cha">
                            Nghề của cha:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4">
                        <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="nghe_nghiep_cha" type="text">
                    </div>
                </div>

                <div _ngcontent-c9="" class="row form-group mt-4">
                    <div _ngcontent-c9="" class="col-md-2">
                        <label _ngcontent-c9="" class="control-label">
                            Họ tên mẹ:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4">
                        <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="ho_ten_me" type="text">
                    </div>
                    <div _ngcontent-c9="" class="col-md-2 margin-top">
                        <label _ngcontent-c9="" class="control-label">
                            ĐT của mẹ:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4">
                        <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="dien_thoai_me" type="text">
                    </div>
                </div>

                <div _ngcontent-c9="" class="row form-group">
                    <div _ngcontent-c9="" class="col-md-2">
                        <label _ngcontent-c9="" class="control-label" title="nghề nghiệp của mẹ">
                            Nghề của mẹ:
                        </label>
                    </div>
                    <div _ngcontent-c9="" class="col-md-4">
                        <input _ngcontent-c9="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="nghe_nghiep_me" type="text">
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
    <div _ngcontent-c9="" style="float:right;display: block ; position: sticky; bottom: 10px;">
        <button _ngcontent-c9="" class="btn btn-primary" type="submit">Lưu thông tin</button>
    </div>
</section>

