
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/StudentLayout/StudentLayout.cshtml";
}
<h2>Bộ đề kiểm tra 15</h2>
<div>
    @for (int j = 0; j < 10; j++)
    {
    <form>
        <div class="text-left d-lg-flex align-items-lg-start"><label >Câu @(j + 1) : Ngày 20 tháng 11 là ngày kỷ niệm nhà giáo Việt Nam. Nước Mỹ có ngày 20 tháng 11 hay không?&nbsp;</label></div>

        <div>
            <div class="custom-control custom-radio custom-control-inline"><input type="radio" name="customRadioInline" checked="" id="customRadioInline1" class="custom-control-input"><label class="custom-control-label" for="customRadioInline1">A.@(j+5)</label></div>
            <div class="custom-control custom-radio custom-control-inline"><input type="radio" name="customRadioInline" id="customRadioInline2" class="custom-control-input"><label class="custom-control-label" for="customRadioInline2">B.@(j+10)</label></div>
            <div class="custom-control custom-radio custom-control-inline"><input type="radio" name="customRadioInline" id="customRadioInline3" class="custom-control-input"><label class="custom-control-label" for="customRadioInline1">C.@(j + 50)</label></div>
            <div class="custom-control custom-radio custom-control-inline"><input type="radio" name="customRadioInline" id="customRadioInline4" class="custom-control-input"><label class="custom-control-label" for="customRadioInline2">A.@(j + 20)</label></div>
        </div>
    </form>
    }

</div>